//----------------------------------
// Font Size
//----------------------------------
$font-size-xs: 10px;
$font-size-2xs: 11px;
$font-size-sm: 12px;
$font-size-2sm: 13px;
$font-size-base: 14px;
$font-size-2base: 15px;
$font-size-md: 16px;
$font-size-lg: 18px;
$font-size-xl: 20px;
$font-size-xxl: 22px;
$font-size-2xl: 24px;
$font-size-3xl: 30px;
$font-size-4xl: 40px;
$font-size-h2: 32px;

//----------------------------------
// Font Weight
//----------------------------------
$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-normal: 400;

//----------------------------------
// Browser
//----------------------------------
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;

//----------------------------------
// Colors
//----------------------------------
$boxShadow: #F0F0F0;
$pageBg: #F0F2F5;
$white: #fff;
$blue-6: #1890ff;
$blue-1: #e6f7ff;
$blue-3: #91d5ff;
$green-6: #52c41a;
$green-1: #f6ffed;
$green-3: #b7eb8f;
$red-6: #f5222d;
$red-5: #ff4d4f;
$red-1: #fff1f0;
$red-3: #ffa39e;
$cyan-6: #13c2c2;
$cyan-1: #e6fffb;
$cyan-3: #87e8de;
$neutral-7: #8c8c8c;
$neutral-2: #fafafa;
$neutral-6: #bfbfbf;
//----------------------------------
// Hover
//----------------------------------
$hoverOpacity: 0.8;
